.aboutMeItem{
    height: 100vh;
    width: 100vw;
}
.unitAbout{
    display: inline-block;
    border-bottom: 6px double black;

}
@media  (max-width:412px) {
    .svgContainer{
        display: none;
    }
    .textContainer{
        width: 100%;
    }
    .textAbout{
        font-size:24px ;
    }
}
@media  (max-width:600px) {
    .svgContainer{
        display: none;
    }
    .textContainer{
        width: 100%;
    }
    .textAbout{
        font-size:24px ;
    }
}