.contactMeContainer{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to left , #0d003b , #07001f);
}
.contactTitle{
    border-bottom: 6px double white;
}
@media (max-width:412px){
    .rocketIcon{
        display: none;
    }
}
@media (max-width:600px){
    .rocketIcon{
        display: none;
    }
}